@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?13l4p2');
	src:url('../fonts/icomoon.eot?#iefix13l4p2') format('embedded-opentype'),
		url('../fonts/icomoon.woff?13l4p2') format('woff'),
		url('../fonts/icomoon.ttf?13l4p2') format('truetype'),
		url('../fonts/icomoon.svg?13l4p2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
	content: "\e600";
}
.icon-github:before {
	content: "\e601";
}
.icon-vk:before {
	content: "\e602";
}
.icon-yandex:before {
	content: "\e603";
}
.icon-skype:before {
	content: "\e604";
}
.icon-twitter:before {
	content: "\e605";
}
