/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:89289b705f5f4db353d49793fe811ced:47d3f9fa9f337845e87c51ebf6696f55:a1c3f1571ba66b0b6ea5bb4fbd609e83$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../img/icon@3x.png);}

.add {width:32px; height:32px; background-position: -557px -2px}
.bag {width:36px; height:34px; background-position: -519px -2px}
.close {width:38px; height:38px; background-position: -439px -2px}
.hat {width:42px; height:23px; background-position: -619px -2px}
.kurs {width:26px; height:32px; background-position: -591px -2px}
.mail {width:21px; height:16px; background-position: -557px -36px}
.skype {width:20px; height:20px; background-position: -640px -27px}
.socials-sprite {width:435px; height:50px; background-position: -2px -2px}
.telephone {width:19px; height:22px; background-position: -619px -27px}
.upload {width:38px; height:38px; background-position: -479px -2px}
