/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:89289b705f5f4db353d49793fe811ced:47d3f9fa9f337845e87c51ebf6696f55:a1c3f1571ba66b0b6ea5bb4fbd609e83$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../img/icon.png);}

.add {width:11px; height:11px; background-position: -193px -2px}
.bag {width:12px; height:11px; background-position: -179px -2px}
.close {width:13px; height:13px; background-position: -149px -2px}
.hat {width:14px; height:8px; background-position: -217px -2px}
.kurs {width:9px; height:11px; background-position: -206px -2px}
.mail {width:7px; height:5px; background-position: -226px -12px}
.skype {width:7px; height:7px; background-position: -217px -12px}
.socials-sprite {width:145px; height:17px; background-position: -2px -2px}
.telephone {width:6px; height:7px; background-position: -233px -2px}
.upload {width:13px; height:13px; background-position: -164px -2px}
