/* подключаем шрифты, пока не настроили грунтовую сборку и минификацию css */
@import url("fira.css");
@import url("proxima.css");
@import url("helveticaneue.css");
/* подключаем шрифт с иконками */
@import url("icons.css");
/* подключаем спрайты */
@import url("sprite@3x.css");
*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
h1{font-size: 27px;}
.left{float:left;}
.right{float:right;}
.clear{clear: both;}
html,body{height: 100%;}
body{
	font-size: 100%/15px;
	font-weight: normal;
	font-family: 'fira_sansregular';
	background: url('/img/bg.png');
}
a{
	text-decoration: none;
}
ul{list-style: none;margin: 0;padding: 0;}
/* HEADER */
header{
	background:#eff3f7;
	height: 119px;
	width:100%;
	margin:0 auto;
	padding:0;
	position:relative;
    margin-bottom: 39px;
}
header:after, footer:before{
	background-color: #1c667a;
	background: -webkit-linear-gradient(0deg, #1c667a 0%, #f6fafe 0%, #d8d8d8 0%, #f2f6fa 0%, #b6ced6 28%, #1c667a 48%, #b4ccd5 71%, #f2f6fa 100%);
	background: -moz-linear-gradient(0deg, #1c667a 0%, #f6fafe 0%, #d8d8d8 0%, #f2f6fa 0%, #b6ced6 28%, #1c667a 48%, #b4ccd5 71%, #f2f6fa 100%);
	background: -o-linear-gradient(0deg, #1c667a 0%, #f6fafe 0%, #d8d8d8 0%, #f2f6fa 0%, #b6ced6 28%, #1c667a 48%, #b4ccd5 71%, #f2f6fa 100%);
	background: -ms-linear-gradient(0deg, #1c667a 0%, #f6fafe 0%, #d8d8d8 0%, #f2f6fa 0%, #b6ced6 28%, #1c667a 48%, #b4ccd5 71%, #f2f6fa 100%);
	background: linear-gradient(90deg, #1c667a 0%, #f6fafe 0%, #d8d8d8 0%, #f2f6fa 0%, #b6ced6 28%, #1c667a 48%, #b4ccd5 71%, #f2f6fa 100%);
	width: 100%;
	height: 3px;
	display: block;
	position: absolute;
	bottom: 0;
	clear: both;
	content: ' ';
}
	header h1.logo{
		font-family: 'helveticaneuecyrmedium';
		color:  #6f727e;
		width: 245px;
		font-size: 220%;
		float: left;
		margin: 23px 0 0 99px;
		padding: 0;
	}

	header h1.logo a{
		color:  #6f727e;
		text-transform: uppercase;
	}
		 .logo small{
			font-family: 'helveticaneuecyrthin';
			text-transform: lowercase;
			font-size: 14px;
			border-top: #6f727e 1px solid;
			line-height: 14px;
			display:block;
			padding-top:7px;
			letter-spacing:-.03px;
			font-weight: normal;
		}
	.social-wrapper{
		float: right;
		margin-right: 88px;
		margin-top: 35px;
		overflow: hidden;
	}
	ul.social{
		list-style-type: none;
		margin: 0;
		
	}
	.social li{
		display: inline-block;
		margin: 0 12px;
		float: left;
	}
	.social a{
		color: #eff3f7;
		  -webkit-box-sizing: content-box;
		  -moz-box-sizing: content-box;
		  box-sizing: content-box;
		  overflow: hidden;
		  border: none;
		  -webkit-border-radius: 100%;
		  border-radius: 100%;
		  text-align: center;
		  -o-text-overflow: ellipsis;
		  background: #58697a;
		  display: block;
		  width: 47px;
		  font-size: 30px;
		  line-height: 55px;
		  height: 47px;
		  behavior: url(../pie/PIE.htc);

	}
	.social a:hover{
		background: #3ba8c0;
	}

.container{
	min-height: 100%;
}
/* MAIN */
.main{
	height: 100%;
	overflow:auto;
	padding-bottom: 81px;
}
.main:after {
display: block;
clear: both;
content: '';
}
.wrapper{
	max-width: 960px;
	margin:0 auto;
}
.info-block {
	padding-bottom: 18px;
	margin-bottom: 24px;
	border-radius: 4px;
	background-color: #eff3f7;
	behavior: url(../pie/PIE.htc);
}
.info-block:after{
	clear: both;
	display: block;
	content: '';
}
/*LEFT SIDEBAR*/
.left-sidebar{
	max-width:250px;
    font-family: fira_sanslight;
	font-size:21px;	
}
	.left-sidebar nav{
		border-radius: 4px;
		background-color:  #eff3f7;
		overflow: hidden;
		behavior: url(../pie/PIE.htc);
	}
	.left-sidebar ul{
		list-style: none;
	}
	.left-sidebar nav li{
	position: relative;

	}
	.left-sidebar nav li a{
		display: table-cell;
		vertical-align: middle;
		color:#959aa8;
		height:73px;
		width: 222px;
		padding-left:28px;
	}
		.left-sidebar nav li a:hover:after{
			background-color:  #3ba8c0;
			content: '';
			display:block;
			position:absolute;
			bottom:0;
			width:230px;
			margin-left:-18px;
			height:2px;
		}
		.left-sidebar nav li a:hover{
			color: #3ba8c0;
			}
		.left-sidebar nav li.active a{
			color:#fff;
			background-color: #3ba8c0;
			cursor: default;
			pointer-events: none;
		}
		.left-sidebar nav li.active a:hover{
			color:#fff;
		}
		.contacts-link{
			border-radius: 4px;
			background-color: #eff3f7;
			overflow: hidden;
			behavior: url(../pie/PIE.htc);
			margin: 23px 0;
		}
			.contacts-link h2{
				color: #fff;
				background: #3ba8c0;
				line-height: 40px;
				padding-left: 20px;
				font-weight: normal;
								
			}
			.contacts-link address a{
				display: inline-block;
				color:#fff;
				font-size: 17px;
				line-height: 39px;
				font-style:normal;
				font-weight: normal;
			}
			.contacts-link address a i{
				margin: 0px 18px 0 43px;
				vertical-align: middle;;

			}
			.contacts-link address a:hover{
				text-decoration: underline;
			}
			address.email{
				background:#41b9d4;
			}
			address.cellphone{
				background:#48cbe8;
			}
			address.skypecall{
				background:#51daf8;
			}
/*MY INFO*/
.right-sidebar{
	width: 650px;
	float: right;
}	
	.right-sidebar h1{
		color: #3ba8c0;
		font-weight: normal;
		margin: 0;
		margin-bottom: 16px;

	}
	.right-sidebar h1 span{
		display: inline-block;
		border-bottom: 2px solid #3ba8c0;
		padding: 14px 20px 12px 20px;
	}
	.photo{
		border: 5px solid #2fa5bc;
		border-radius: 50%;
		behavior: url(../pie/PIE.htc);
		overflow: hidden;
		box-sizing: border-box;
		width: 200px;
		height: 200px;
		margin-left: 22px;
	}
	.info-content{
		font-family: 'fira_sansmedium';
		font-size: 17px;
		color: #58697a;
		padding-left: 39px;
	}
		.info-content ul{

		}
			.info-content ul li:first-child{
				margin-top: 3px;
			}
			.info-content ul li{
				margin-top: 13px;
		}
		.info-content span{
			padding-left: 15px;
			font-family: 'fira_sansbook';
			font-size: 15px;
		}
		.skills{
			margin-top: 14px;
		}
		.skills-header{}
		.skills-list{
			width: 200px;
			margin-left: 20px;
			margin-top: -3px;

		}
		.skills-list span{
			background: -moz-linear-gradient(top, #3ba8c0 0%, #3ba8c0 50%, #2e8ca2 50%, #2e8ca2 100%);
			background: -webkit-linear-gradient(top, #3ba8c0 0%, #3ba8c0 50%, #2e8ca2 50%, #2e8ca2 100%);
			background: -o-linear-gradient(top, #3ba8c0 0%, #3ba8c0 50%, #2e8ca2 50%, #2e8ca2 100%);
			background: -ms-linear-gradient(top, #3ba8c0 0%, #3ba8c0 50%, #2e8ca2 50%, #2e8ca2 100%);
			background: linear-gradient(top, #3ba8c0 0%, #3ba8c0 50%, #2e8ca2 50%, #2e8ca2 100%);
			color: #fff;
			padding: 1px 14px;
			font-size: 14px;
			font-family: 'proxima_nova_condensedSBd';
			font-weight: normal;
			-moz-border-radius: 2px;
			-ms-border-radius: 2px;
			-o-border-radius: 2px;
			border-radius: 2px;
			line-height: 30px;
			behavior: url(../pie/PIE.htc);
		}
	.work-list, .education-list{
		font-family: 'fira_sansbook';
		padding-left: 65px;
	}
		.work-list ul li:first-child, .education-list ul li:first-child{
			margin-top: 35px;
		}	
		.work-list ul li, .education-list ul li{
			margin-top: 28px;
		}
		.work-list ul li:after, .education-list ul li:after{clear: both; display: block; content: ''; margin: 0;;}
		.work-list h6, .education-list h6{
			font-size: 17px;
			margin: 0;
			font-weight: normal;
			height: 20px;
		}
		.work-list div, .education-list div{
			margin-left: 30px;
			margin-top: -4px;;
		}
		.work-list span, .education-list span{
			font-family: 'fira_sanslight';
			font-size: 15px;
			line-height: 15px;
		}
/*MY WORKS*/
.mywork-list{
	margin-top: 20px;
}
.mywork-list-item{
	margin: 35px 4px;
}
.mywork-item{
	float: left;
	width:184px;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	font-family: 'fira_sanslight';
	margin: 0 15px 54px 15px;
}
.mywork-image{
	border: 2px solid #2fa5bc;
	border-radius: 4px;
	behavior: url(../pie/PIE.htc);
	box-sizing: border-box;
	width: 181px;
	height: 127px;
	display: inline-block;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
.mywork-image span{
    font-family: 'fira_sanslight';
	margin: 0 auto;
	color: #fff;
	border: 1px solid #ffffff;
	width: 70%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	behavior: url(../pie/PIE.htc);
	display: block;
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	margin-top: 40px;
}
.fx{
	width: 181px;
	height:127px;
	opacity: 0;
	position: absolute;
	transition: all .2s linear;
	top: 0px;
	left: 0;
	display: block;
	background-color: rgba(0, 0, 0, 0.6);
}
.mywork-image:hover .fx{

	opacity: 1;
}
.mywork-url a{
	display: block;
	font-size: 13px;
	color: #3ba8c0;
}
.mywork-description{
	height: 33px;
	font-size: 15px;
	color: #4a545d;
	overflow: hidden;
	line-height: 15px;
}
.mywork-list-item-add .mywork-image{
	text-align: center;
	font-family: 'fira_sanslight';
	font-size: 13px;
	border: 1px dashed #3ba8c0;
	color: #3ba8c0;
	text-decoration: none;
}
.mywork-list-item-add .mywork-image a{
	width: 100%;
	height: 100%;
	display: block;
	padding-top: 30px;
	color: #3ba8c0;
}
/*FEEDBACK*/
.feedback h1{
display: block;
padding: 0;
text-align: center;
height: 131px;
line-height: 114px;
border-bottom: 17px solid #67dffa;
background: #48CBE8;
color: #FFF;
}
.feedback form{
	width: 420px;
	margin: 50px auto 183px;
	overflow: hidden;
	font-family: 'fira_sanslight';
}
.feedback form span{
	display: inline-block;
}

form label{
	color: #959AA8;
	font-size: 1.2em;
}

form input,
form textarea,
form span,
.fileform{
	border: 1px solid #48cbe8;
	color: #48cbe8;
	border-radius: 4px;
}

form input::-webkit-input-placeholder,
form textarea::-webkit-input-placeholder {
	color:#48cbe8;
}

form input:-ms-input-placeholder,
form textarea:-ms-input-placeholder{
	color:#48cbe8;
}

.feedback label[for="name"]{
	margin-right: 15px;
}

.feedback label[for="name"],
.feedback label[for="email"]{
	float: left;
	margin-bottom: 16px;
}

.feedback label[for="email"]{
	clear: right;
}

.feedback label[for="name"] input,
.feedback label[for="email"] input{
	display: block;
	font-size: 13px;
	padding: 10px 10px;
	width: 170px;
}

.feedback label textarea{
	display: block;
	padding: 10px 10px;
	width: 378px;
	font-size: 13px;
	resize: none;
	margin-bottom: 16px;
}

.feedback label[for="captcha"]{
	display: inline-block;
	overflow: hidden;
	margin-bottom: 34px;
}

.feedback .captcha{
	background: url(/img/captcha.jpg);
	width: 191px;
	height: 79px;
	float: left;
	margin-right: 15px;
}

.feedback label[for="captcha"] input{
	display: block;
	width: 170px;
	font-size: 25px;
	padding: 8px 10px;
	height: 62px;
}

.feedback button{
	cursor: pointer;
	border-radius: 5px;
	border: none;
	padding: 10px 0 8px;
	font-size: 19px;
	color: #fff;
}

.feedback button.submit{
	background: #48CBE8;
	width: 139px;
	border-bottom: 2px solid #3BA8C0;
}

.feedback button.reset{
	background: #849DB5;
	width: 141px;
	border-bottom: 2px solid #687b8f;
	float: right;
}

/* FOOTER */
footer:before{
	position: relative;
}
footer{
	background:#eff3f7;
	height: 81px;
	position: relative;
	margin-top: -81px;
	clear:both;
	width: 100%;
	text-align: center;
}
	footer p{
		padding: 28px 0 0 0;
		font-family: 'fira_sanslight', sans;
		letter-spacing: -0.16px;
		font-style: normal;
		font-size: 13px;
	}

/*ADAPTIVE*/
@media only screen and (min-width: 751px) and (max-width: 960px) {
  /* line 3, sass/_pl.scss */
  .b-nav {
    display: none;
    position: absolute;
    right: 0;
    top: 90px;
    z-index: 1000;
  }
  /* line 9, sass/_pl.scss */
  .b-nav .b-contacts {
    display: none;
  }

  /* line 14, sass/_pl.scss */
  .nav-block_arrow_up {
    position: absolute;
    float: left;
    right: 42px;
    top: -15px;
  }
  /* line 121, sass/_common.scss */
  .nav-block_arrow_up .arrow {
    border-bottom-color: #3ba8c0;
    border-width: 0 15px 14px 14px;
  }

  /* line 21, sass/_pl.scss */
  .b-menu {
    background-color: #fbfcfd;
    -webkit-box-shadow: 1px 3px 8px 1px rgba(13, 16, 7, 0.35);
    -moz-box-shadow: 1px 3px 8px 1px rgba(13, 16, 7, 0.35);
    box-shadow: 1px 3px 8px 1px rgba(13, 16, 7, 0.35);
  }

  /* line 28, sass/_pl.scss */
  .container {
    width: 768px;
  }

  /* line 32, sass/_pl.scss */
  .b-content {
    width: 700px;
    margin: 0 auto;
    float: none;
  }

  /* line 38, sass/_pl.scss */
  .b-mob_contacts {
    display: block;
    margin: 28px 0 31px 0;
    height: 46px;
  }

  /* line 44, sass/_pl.scss */
  .b-contacts_items {
    margin: 0;
  }

  /* line 48, sass/_pl.scss */
  .b-contacts_items-item {
    position: relative;
    float: left;
    width: 33.33%;
    padding: 3px 0;
  }
  /* line 54, sass/_pl.scss */
  .b-contacts_items-item a {
    text-decoration: none;
  }
  /* line 57, sass/_pl.scss */
  .b-contacts_items-item:first-child {
    font-size: inherit;
    background: #41b9d4;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
  /* line 59, sass/_pl.scss */
  .b-contacts_items-item:first-child .ico {
    background: url("img/emailico.png");
  }
  /* line 65, sass/_pl.scss */
  .b-contacts_items-item:nth-child(2) {
    background: #48cbe8;
  }
  /* line 66, sass/_pl.scss */
  .b-contacts_items-item:nth-child(2) .ico {
    background: url("img/phoneico.png");
  }
  /* line 71, sass/_pl.scss */
  .b-contacts_items-item:last-child {
    background: #51daf8;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
  /* line 72, sass/_pl.scss */
  .b-contacts_items-item:last-child .ico {
    background: url("img/skypeico.png");
  }

  /* line 80, sass/_pl.scss */
  .split-line {
    height: 2px;
  }

  /* line 84, sass/_pl.scss */
  .b-footer {
    margin-top: 28px;
  }

  /* line 88, sass/_pl.scss */
  .b-footer_body {
    height: 53px;
  }

  /* line 92, sass/_pl.scss */
  .b-footer_body p {
    margin: 17px auto 0;
  }

  /* line 96, sass/_pl.scss */
  .b-head_socials-wrapper {
    margin-right: 5.34%;
  }

  /* line 100, sass/_pl.scss */
  .i-menu {
    display: block;
    margin-left: 58px;
    margin-top: 12px;
  }

  /* line 106, sass/_pl.scss */
  .b-works_items {
    margin: 0 auto;
  }

  /* line 109, sass/_pl.scss */
  .items-grid.col-1 {
    width: 42.28%;
    margin: 0 3.86% 54px 3.86%;
  }

  /* line 114, sass/_pl.scss */
  .b1 {
    position: relative;
    float: right;
    right: 50%;
  }

  /* line 120, sass/_pl.scss */
  .b2 {
    position: relative;
    right: -50%;
  }

  /* line 125, sass/_pl.scss */
  .bl {
    width: 229px;
    height: 163px;
    display: inline-block;
  }

  /* line 131, sass/_pl.scss */
  .b-works_items-item_add {
    text-align: center;
  }
  /* line 133, sass/_pl.scss */
  .b-works_items-item_add a {
    background-position: center 55px;
    display: inline-block;
    width: 229px;
    height: 163px;
    padding-top: 96px;
  }

  /* line 142, sass/_pl.scss */
  .wrapper {
    margin: 0 auto -56px;
  }

  /* line 145, sass/_pl.scss */
  .footer-push {
    height: 2px;
  }
}
@media only screen and (max-width: 750px) {
  /* line 3, sass/_mob.scss */
  .b-head, .b-head_logo {
    height: 55px;
  }

  /* line 7, sass/_mob.scss */
  .b-nav {
    display: none;
    position: absolute;
    right: 0;
    top: 55px;
    z-index: 1000;
    width: 100%;
  }
  /* line 14, sass/_mob.scss */
  .b-nav .b-contacts {
    display: none;
  }

  /* line 19, sass/_mob.scss */
  .b-head_logo-element1 {
    font-size: 20px;
    margin-top: 9px;
  }

  /* line 23, sass/_mob.scss */
  .b-head_logo-element2 {
    font-size: 8px;
  }

  /* line 27, sass/_mob.scss */
  .b-head_socials {
    display: none;
  }

  /* line 31, sass/_mob.scss */
  .b-head_socials-wrapper {
    margin: 0 19px 0 0;
  }

  /* line 35, sass/_mob.scss */
  .i-menu {
    display: block;
    margin-left: 58px;
    margin-top: 12px;
  }

  /* line 41, sass/_mob.scss */
  .b-menu {
    background-color: #eff3f7;
    -webkit-box-shadow: 1px 3px 8px 1px rgba(13, 16, 7, 0.35);
    -moz-box-shadow: 1px 3px 8px 1px rgba(13, 16, 7, 0.35);
    box-shadow: 1px 3px 8px 1px rgba(13, 16, 7, 0.35);
  }

  /* line 48, sass/_mob.scss */
  .b-menu_items-item {
    height: 41px;
  }
  /* line 50, sass/_mob.scss */
  .b-menu_items-item a {
    height: 41px;
    line-height: 41px;
    width: 100%;
    text-align: center;
    padding-left: 0;
  }
  /* line 57, sass/_mob.scss */
  .b-menu_items-item.active {
    height: 43px;
  }
  /* line 60, sass/_mob.scss */
  .b-menu_items-item.noactive {
    height: 41px;
  }

  /* line 65, sass/_mob.scss */
  .fs15 {
    font-size: inherit;
  }

  /* line 69, sass/_mob.scss */
  .container {
    width: 320px;
  }

  /* line 73, sass/_mob.scss */
  .b-content, .b-main-info_portrait, .b-main-info_wrapper {
    float: none;
    padding: 0;
  }

  /* line 78, sass/_mob.scss */
  .b-main-info_wrapper {
    font-size: 20px;
  }

  /* line 82, sass/_mob.scss */
  .b-content {
    width: 295px;
    margin: 0 auto;
  }

  /* line 87, sass/_mob.scss */
  .b-main-info_portrait {
    text-align: center;
  }
  /* line 89, sass/_mob.scss */
  .b-main-info_portrait img {
    display: inline;
  }

  /* line 95, sass/_mob.scss */
  .b-main-info_info-item span {
    display: block;
    text-align: center;
    padding: 0 16px;
  }

  /* line 102, sass/_mob.scss */
  .b-main-info_title, .b-experience_title, .b-education_title, .b-works_title, .b-experience_title, .b-education_title, .b-education_title {
    font-size: 24px;
    border: 0;
    padding: 7px 0 0;
    text-align: center;
    width: auto;
  }

  /* line 110, sass/_mob.scss */
  .b-main-info_tags {
    text-align: center;
  }
  /* line 112, sass/_mob.scss */
  .b-main-info_tags > div {
    margin: 0 auto;
    float: none;
  }

  /* line 118, sass/_mob.scss */
  .b-experience-items, .b-education_items {
    padding: 0;
  }

  /* line 122, sass/_mob.scss */
  .b-experience-items-item, .b-education_items-item, .b-education_items-item {
    height: auto;
    margin-top: 30px;
  }

  /* line 127, sass/_mob.scss */
  .b-experience-items-item-desc, .b-education_items-item-desc, .b-education_items-item-desc {
    padding: 13px 16px 0;
  }
  /* line 129, sass/_mob.scss */
  .b-experience-items-item-desc h6, .b-education_items-item-desc h6, .b-education_items-item-desc h6 {
    height: auto;
  }

  /* line 135, sass/_mob.scss */
  .b-experience-items-item > div, .b-education_items-item > div {
    margin: 0 auto;
    text-align: center;
    float: none;
  }
  /* line 140, sass/_mob.scss */
  .b-experience-items-item .ico, .b-education_items-item .ico {
    float: none;
  }

  /* line 145, sass/_mob.scss */
  .b-mob_contacts {
    display: block;
    margin-top: 41px;
  }
  /* line 148, sass/_mob.scss */
  .b-mob_contacts .b-contacts_items {
    margin: 0;
  }
  /* line 151, sass/_mob.scss */
  .b-mob_contacts .b-contacts_items-item {
    padding-left: 0;
  }
  /* line 153, sass/_mob.scss */
  .b-mob_contacts .b-contacts_items-item a {
    text-decoration: none;
  }
  /* line 155, sass/_mob.scss */
  .b-mob_contacts .b-contacts_items-item a:hover {
    text-decoration: underline;
  }
  /* line 159, sass/_mob.scss */
  .b-mob_contacts .b-contacts_items-item:first-child {
    font-size: inherit;
    background: #41b9d4;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
  /* line 161, sass/_mob.scss */
  .b-mob_contacts .b-contacts_items-item:first-child .ico {
    background: url("img/emailico.png");
  }
  /* line 167, sass/_mob.scss */
  .b-mob_contacts .b-contacts_items-item:nth-child(2) {
    background: #48cbe8;
  }
  /* line 168, sass/_mob.scss */
  .b-mob_contacts .b-contacts_items-item:nth-child(2) .ico {
    background: url("img/phoneico.png");
  }
  /* line 173, sass/_mob.scss */
  .b-mob_contacts .b-contacts_items-item:last-child {
    background: #51daf8;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
  /* line 174, sass/_mob.scss */
  .b-mob_contacts .b-contacts_items-item:last-child .ico {
    background: url("img/skypeico.png");
  }

  /* line 183, sass/_mob.scss */
  .b-mob_socials {
    display: block;
    margin: 20px auto;
    height: 46px;
  }

  /* line 189, sass/_mob.scss */
  .split-line {
    height: 2px;
    background: url("/css/img/splitmob.png") repeat-y;
  }

  /* line 194, sass/_mob.scss */
  .items-grid.col-1 {
    width: 100%;
    margin-bottom: 32px;
  }

  /* line 199, sass/_mob.scss */
  .b1 {
    position: relative;
    float: right;
    right: 50%;
  }

  /* line 205, sass/_mob.scss */
  .b2 {
    position: relative;
    right: -50%;
  }

  /* line 210, sass/_mob.scss */
  .bl {
    width: 207px;
    height: 145px;
    display: inline-block;
  }

  /* line 216, sass/_mob.scss */
  .b-works_items-item_desc {
    margin: 0 auto;
    width: 207px;
  }

  /* line 221, sass/_mob.scss */
  .b-feedback_title {
    font-size: 19px;
    line-height: normal;
    height: 80px;
    padding-top: 20px;
  }

  /* line 228, sass/_mob.scss */
  .b-feedback_title-underline {
    height: 14px;
  }

  /* line 232, sass/_mob.scss */
  .b-feedback_items-item, .b-feedback_items-item-text {
    margin: 0;
  }
  /* line 234, sass/_mob.scss */
  .b-feedback_items-item label, .b-feedback_items-item-text label {
    width: 87.56%;
    margin: 0 auto;
    display: block;
  }
  /* line 240, sass/_mob.scss */
  .b-feedback_items-item .b-feedback_items-item_input, .b-feedback_items-item-text .b-feedback_items-item_input {
    width: 81.02%;
    margin: 0 auto;
  }

  /* line 246, sass/_mob.scss */
  .b-works_items-item_add {
    text-align: center;
  }
  /* line 248, sass/_mob.scss */
  .b-works_items-item_add a {
    width: auto;
  }

  /* line 253, sass/_mob.scss */
  .b-form-modal {
    width: 96.88%;
  }

  /* line 257, sass/_mob.scss */
  .b-form-modal_inputs-edit, .b-form-modal_fn-upload, .b-form-modal_inputs-ta {
    width: 86.77%;
  }

  /* line 261, sass/_mob.scss */
  .upload {
    width: 92.90%;
  }

  /* line 265, sass/_mob.scss */
  .b-form-modal_inputs-upload {
    width: 100%;
  }

  /* line 269, sass/_mob.scss */
  .b-form-modal_fn-upload {
    width: 75%;
  }

  /* line 273, sass/_mob.scss */
  .btn-upload {
    width: 18.06%;
  }

  /* line 277, sass/_mob.scss */
  .b-form-modal_btn-submit {
    width: 44.84%;
  }

  /* line 281, sass/_mob.scss */
  .b-success {
    width: 87.5%;
  }

  /* line 285, sass/_mob.scss */
  .left {
    float: none;
  }

  /* line 289, sass/_mob.scss */
  .b-feedback_items {
    width: 100%;
  }

  /* line 293, sass/_mob.scss */
  .b-captcha {
    margin: 0 auto;
    width: 82.03%;
  }
  /* line 296, sass/_mob.scss */
  .b-captcha .b-feedback_items-item {
    float: left;
  }
  /* line 298, sass/_mob.scss */
  .b-captcha .b-feedback_items-item.captcha {
    width: 45%;
    height: 71px;
    margin-right: 3.73%;
  }
  /* line 302, sass/_mob.scss */
  .b-captcha .b-feedback_items-item.captcha img {
    width: 100%;
    height: 71px;
  }
  /* line 307, sass/_mob.scss */
  .b-captcha .b-feedback_items-item.confirm {
    margin-left: 3.73%;
    width: 45%;
  }
  /* line 310, sass/_mob.scss */
  .b-captcha .b-feedback_items-item.confirm .b-feedback_items-item_input {
    width: 86%;
  }

  /* line 317, sass/_mob.scss */
  .b-feedback_items-buttons {
    width: 81.02%;
    margin: 0 auto;
  }
  /* line 320, sass/_mob.scss */
  .b-feedback_items-buttons .left {
    float: left;
  }
  /* line 323, sass/_mob.scss */
  .b-feedback_items-buttons .b-feedback_items-buttons-clear, .b-feedback_items-buttons .b-feedback_items-buttons-submit {
    width: 105px;
  }

  /* line 328, sass/_mob.scss */
  .wrapper {
    margin: 0 auto -78px;
  }

  /* line 331, sass/_mob.scss */
  .footer-push {
    height: 86px;
  }

  /* line 335, sass/_mob.scss */
  .b-admin {
    width: 92.19%;
    height: 284px;
  }

  /* line 340, sass/_mob.scss */
  .b-admin_title {
    height: 54px;
    font-size: 24px;
    line-height: 54px;
  }

  /* line 346, sass/_mob.scss */
  .b-admin_title-underline {
    height: 9px;
  }

  /* line 350, sass/_mob.scss */
  .b-admin_items {
    width: 84.75%;
    margin-top: 6px;
    margin-bottom: 0;
  }

  /* line 357, sass/_mob.scss */
  .b-admin_items-item label {
    margin-top: 5px;
    font-size: 21px;
  }

  /* line 363, sass/_mob.scss */
  .b-admin_items-item_input {
    width: 92%;
    height: 35px;
  }

  /* line 368, sass/_mob.scss */
  .b-admin_submit {
    width: 45.08%;
    height: 29px;
    font-size: 21px;
    line-height: 29px;
    margin-top: 18px;
  }

  /* line 376, sass/_mob.scss */
  .b-tooltip_text {
    font-size: 9px;
    padding-left: 4px;
    padding-right: 4px;
  }

  /* line 383, sass/_mob.scss */
  .b-feedback .error_msg {
    width: 90%;
  }
}
